.icons {
  margin: 10px;
  border: 0px solid grey;
  // background: grey;
}
.writtenby {
  font-size: 12px;
}
.about {
  font-size: 16px;
}
.home {
  margin-left: 50px;
}
.searchbar {
  margin-top: -20px;
  margin-left: -20px;
}
.pagination {
  text-align: center;
}
.taglist {
  font-size: 18px;
}
