.icons {
  margin: 10px;
  border: 0px solid grey;
}
.writtenby {
  font-size: 12px;
}
.about {
  font-size: 16px;
  font-style: bold;
}
.home {
  margin-left: 50px;
}
.searchbar {
  margin-top: -20px;
  margin-left: -20px;
}
.pagination {
  text-align: center;
}
.follow {
  border: 0.5px solid white;
  border-radius: 5px;
  color: green;
  margin-left: 5px;
  margin-right: 175px;
  padding: 1px 5px 1px 5px;
}
.readmore {
  color: green;
}
.green {
  float: right;
  margin-right: 15px;
}
